.main{
    height: 92vh;
    background-image: url(./main.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }